.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #102c57e0;
  min-height: 50vh;
  width: 100%;
}

.contact .detail {
  font-size: max(2rem, 4vw);
}

.contact .detail span {
  font-size: max(2rem, 4vw);
  color: var(--main-color);
}

.contact p {
  display: flex;
  text-align: center;
  font-size: max(1.2rem, 1.25vw);
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

.contact .contact-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: max(1.2rem, 1.25vw);
  cursor: pointer;
  text-decoration: none;
}

.social-links {
  display: flex;
  margin-top: 50px;
}

.social-links img {
  margin: 0 20px;
}

.social-links a {
  cursor: pointer;
}
