.preloader{
    background: #121212 url(E:\Project\portfolio\src\Components\preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 45%;
    position: fixed;
    z-index: 100;
}

@media (width<=500px) {
    .preloader{
        background-size: 90%;
    }
}

@media (width<=700px) {
    .preloader{
        background-size: 60%;
    }
}