.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .heading {
  font-size: max(2rem, 4vw);
  margin: 20px 0;
}

.skills .heading span {
  font-size: max(2rem, 4vw);
  color: #fff;
}

.skills .skills-box {
  border-left: 0.2vw solid black;
  border-bottom: 0.2vw solid black;
  border-right: 0.2vw solid black;
  border-top: 0.2vw solid black;
}

.skills-box .skills-content {
  position: relative;
  padding-left: 1.25vw;
  padding-top: 1vw;
  padding-right: 1.25vw;
  padding-bottom: 1vw;
}

.skills-content .content {
  position: relative;
  padding: 1vw;
  border: 0.2vw solid black;
  border-radius: 0.5vw;
  overflow: hidden;
}

.skills-content .content h3 {
  font-size: max(1.15rem, 1.65vw);
  font-weight: bold;
}

.skills-content .content p {
  font-size: max(1.15rem, 1.5vw);
  color: black;
}

@media (width<=450px) {
  .skills {
    margin-top: 100px;
  }
}
