* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #F8F0E5;
  --text-color: #000000;
  --main-color: #DAC0A3;
}
body {
  margin-top: 100px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

