* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #4F709C;
  --text-color: #000000;
  --main-color: #F0F0F0;
  --span-color: #95baeb;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

